::-webkit-scrollbar {
     background: none;
     width: 16px;
     height: 16px;
}
::-webkit-scrollbar-thumb {
     border: solid 0 rgba(0, 0, 0, 0);
     border-right-width: 4px;
     border-left-width: 4px;
     -webkit-border-radius: 9px 4px;
     -webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 4px rgba(128, 128, 128, 0.2);
}
::-webkit-scrollbar-track-piece {
     margin: 4px 0;
}
::-webkit-scrollbar-thumb:horizontal {
     border-right-width: 0;
     border-left-width: 0;
     border-top-width: 4px;
     border-bottom-width: 4px;
     -webkit-border-radius: 4px 9px;
}
::-webkit-scrollbar-thumb:hover {
     -webkit-box-shadow: inset 0 0 0 1px rgba(128,128,128,0.9), inset 0 0 0 4px rgba(128,128,128,0.9);
}
::-webkit-scrollbar-corner {
     background: transparent;
}
.ace_scrollbar-h{
    margin: 0 2px
}

.clearer {
    clear: both;
}

.app-name {
    background: #262626;
}

.app-tabs > ul.ui-tabs-nav {
    background: #262626;
    box-shadow: 0 1px 0 0 #353535 inset;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.commandbar,
.editor-tabs {
    background: #262626;
    box-shadow: 0 1px 0 0 #353535 inset;
    border-bottom: 1px solid #000000;
    border-radius: 0;
}

.app-tabs > ul.ui-tabs-nav .ui-tabs-anchor {
    padding: 3px 10px;
    outline: none;
    color: #fff;
}

.app-tabs > ul.ui-tabs-nav .ui-state-active .ui-tabs-anchor {
    background-color: #494949;
    box-shadow: 1px 0 0 0 #000000 inset, 1px 0 0 0 #000000, 0 1px 0 0 rgba(255, 255, 255, 0.15) inset;
    color: #fdfdfd;
}

.commandbar span.s {
    color: #fff;
}

.commandbar input[type=submit],
.commandbar input[type=button],
.commandbar button {
    background-image: linear-gradient(to bottom, #323232 0%, #292929 52%, #191919 52%, #2b2b2b 100%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid #010910;
    border-radius: 3px;
    color: #c0dabe;
    text-shadow: 0;
    height: 27px;
    line-height: 27px;
    outline: none;
}

.commandbar input[type=text],
.commandbar input[type=password],
.commandbar select,
.commandbar .ui-multiselect {
    border: 1px solid #000000;
    background: #eeeeee;
    box-shadow: inset 1px 2px 3px 0 rgba(0, 0, 0, 0.5);
    color: #202020;
    height: 26px;
    outline: none;
    text-overflow: ellipsis;
    border-radius: 3px;
}

.commandbar input[type=submit]:hover,
.commandbar input[type=button]:hover,
.commandbar button:hover {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.1), 0 0 0 1000px rgba(131, 145, 129, 0.08) inset;
}

.v-divider {
    border-left-width: 0;
    height: 12px;
    display: inline-block;
    border-right: 1px solid #000 !important;
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.06);
}

.panel-box {
    background: #252525 url(http://force.vn:8081/static/plugins/c9.ide.layout.classic/images/c9-noise.png);
    color: #fff;
    font-size: 12px;
    position: relative;
}

.panel-box .panel-box-header {
    height: 26px;
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    box-shadow: 0 -1px 0 0 #000000 inset, 0 1px 0 0 rgba(255, 255, 255, 0.06) inset, 0 1px 0 rgba(255, 255, 255, 0.06);
    border: 1px solid #000000;
    border-width: 1px 1px 0 1px;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 100;
    clip: rect(0, 3000px, 29px, 0px);
    transition-property: padding-right;
    margin-bottom: 1px;
}

/* EDITOR */
.editor-tabs .ui-tabs-nav li,
.editor-tabs .ui-tabs-nav li.ui-tabs-active,
.editor-tabs .ui-tabs-nav {
    background: transparent;
}
.editor_tab {
    padding: 0 0 0 0;
    margin: 0 0;
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 49.2883%;
    margin-bottom: 1px;
    background: #252525 url(http://force.vn:8081/static/plugins/c9.ide.layout.classic/images/c9-noise.png);
}
.editor_tab .btnsesssioncontainer {
    font-size: 13px;
    border-bottom: 5px solid #ebebeb;
}
.ui-tabs .ui-tabs-nav li.tab_btn {
    padding: 0 20px;
    position: relative;
    margin-right: -15px;
    margin-top: 0;
    height: 22px;
    overflow: hidden;
    cursor: default;
}
.tab_btn .tab_middle,
.tab_btn .tab_shadow {
    height: 22px;
    box-sizing: border-box;
    position: relative;
    padding: 5px 0 0 0;
    overflow: visible;
    color: #000;
    background-repeat: repeat-x;
    background-image: url(http://force.vn:8081/static/plugins/c9.ide.layout.classic/images/c9-repeat-x@1x.png);
    background-size: 32px 1500px;
    background-position: 0 -84px;
    text-overflow: ellipsis;
    margin-top: 2px;
    margin-left: -1px;
    margin-right: -1px;
}
.tab_btn .tab_shadow {
    position: absolute;
    margin: 0;
    top: 0;
    left: 19px;
    right: 19px;
    bottom: 0;
    background-position: 0 -82px;
    opacity: 1;
}
.tab_btn .tab_middle:before,
.tab_btn .tab_middle:after,
.tab_btn .tab_shadow:before,
.tab_btn .tab_shadow:after {
    background-color: inherit;
    content: "";
    display: block;
    position: absolute;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url(http://force.vn:8081/static/plugins/c9.ide.layout.classic/images/c9-no-repeat@1x.png);
    background-size: 480px 580px;
    top: 0;
}
.tab_btn .tab_middle:before,
.tab_btn .tab_middle:after {
    -webkit-mask: url("http://force.vn:8081/static/plugins/c9.ide.layout.classic/images/c9-no-repeat@2x.png") no-repeat;
    -webkit-mask-size: 480px 580px;
}
.tab_btn .tab_shadow:before {
    left: -19px;
    background-position: 0 -150px;
    opacity: 1;
    width: 19px;
}
.tab_btn .tab_shadow:after {
    right: -19px;
    background-position: -31px -150px;
    opacity: 1;
    width: 19px;
}
.tab_btn .tab_middle:before {
    left: -19px;
    background-position: 0 -152px;
    -webkit-mask-position: 0 -96px;
    mask: url(#tab-mask-left);
    width: 19px;
}
.tab_btn .tab_middle:after {
    right: -19px;
    background-position: -31px -152px;
    -webkit-mask-position: -29px -96px;
    width: 19px;
}
.tab_btn:not(.ui-state-active) .tab_middle,
.tab_btn:not(.ui-state-active) .tab_middle:after,
.tab_btn:not(.ui-state-active) .tab_middle:before {
    background-color: #000000;
    transition: background-color 0.15s linear;
}
.tab_btn.notrans .tab_middle,
.tab_btn.notrans .tab_middle:after,
.tab_btn.notrans .tab_middle:before {
    transition: none;
}
.tab_btn:hover:not(.ui-state-active) .tab_middle,
.tab_btn:hover:not(.ui-state-active) .tab_middle:after,
.tab_btn:hover:not(.ui-state-active) .tab_middle:before {
    background-color: #0a0a0a;
}
.tab_btn.ui-state-active {
    height: 25px;
    z-index: 10;
    margin-top: -1px;
    _min-width: 97px;
}
.tab_btn.ui-state-active .tab_middle {
    height: 23px;
    background-position: 0 -60px;
    color: #000;
    padding-top: 5px;
    margin-top: 3px;
}
.tab_btn.ui-state-active .tab_middle:before {
    height: 23px;
    background-position: 0 -128px;
}
.tab_btn.ui-state-active .tab_middle:after {
    height: 23px;
    background-position: -31px -128px;
}
.tab_btn.ui-state-active .tab_shadow {
    background-position: 0 -57px;
    opacity: 1;
}
.tab_btn.ui-state-active .tab_shadow:before {
    background-position: 0 -125px;
    opacity: 1;
}
.tab_btn.ui-state-active .tab_shadow:after {
    background-position: -33px -125px;
    opacity: 1;
}
.tab_btn.ui-state-active .tab_middle,
.tab_btn.ui-state-active .tab_middle:before,
.tab_btn.ui-state-active .tab_middle:after {
    background-color: rgb(235, 235, 235);
    color: inherit;
}
.tab_btn .tab_title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0 0 0;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    color: #adadad!important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
.tab_btn .tab_middle .tab_title {
    margin-right: 8px;
    margin-left: 1px;
    padding: 0;
    position: relative;
    top: -2px;
}
.tab_btn.ui-state-active .tab_title {
    color: rgba(0, 0, 0, 0.85)!important;
    margin-top: 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
.tab_btn.ui-state-active .tab_title {
    height: 15px;
}
.tab_btn.ui-state-active .tab_title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.2) 30%, transparent 60%);
    left: -10px;
    right: -10px;
    height: 1px;
    z-index: 1;
}
.tab_btn.ui-state-active .tab_title:after {
    background-image: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.19) 15%, rgba(255, 255, 255, 0.19) 30%, transparent 60%);
}

.btn-close-tab span {
    display: none;
}

.editor-tabs .btn-close-tab {
    display: none;
    width: 14px;
    height: 14px;
    position: relative;
    top: -3px;
    background-repeat: no-repeat;
    background-image: url(http://force.vn:8081/static/plugins/c9.ide.layout.classic/images/close_tab_btn@1x.png);
    background-size: 42px 28px;
    background-position: -28 0;
    cursor: pointer;
    z-index: 10;
    margin: 0;
    animation: none;
}

.tab_btn.ui-state-active .btn-close-tab {
    margin-top: -1px;
    background-position: 0 0;
    margin-top: 1px !important;
    background-position: -28px 0;
}

.tab_btn.ui-state-active .btn-close-tab:hover {
    background-position: -14px 0;
}
